.navbar{
    display: flex;
    background-color: aqua;
    justify-content: space-between;
    align-items: center;
    border-style: double;
   
}
.image-container {
    display: flex;
    justify-content: center; /* Centers horizontally */
    align-items: center; /* Centers vertically if the container has a specified height */
    height: 100vh; /* Example height: 100% of the viewport height */
}

